[project]
	description = Valamis is a social learning environment for sharing and receiving knowledge. We want to help people to share knowledge and learn using Liferay platform. You can use it as your organizations social learning environment.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kailash Yadav (yadavjpr)
[access "refs/for/refs/*"]
	read = group user/Kailash Yadav (yadavjpr)
	push = group user/Kailash Yadav (yadavjpr)
	label-Code-Review = -2..+2 group user/Kailash Yadav (yadavjpr)
	label-Verified = -1..+1 group user/Kailash Yadav (yadavjpr)
	rebase = group user/Kailash Yadav (yadavjpr)
	removeReviewer = group user/Kailash Yadav (yadavjpr)
	submit = group user/Kailash Yadav (yadavjpr)
[access "refs/heads/*"]
	read = group user/Kailash Yadav (yadavjpr)
	create = group user/Kailash Yadav (yadavjpr)
	push = +force group user/Kailash Yadav (yadavjpr)
	pushMerge = group user/Kailash Yadav (yadavjpr)
[access "refs/tags/*"]
	push = +force group user/Kailash Yadav (yadavjpr)
	pushTag = group user/Kailash Yadav (yadavjpr)
	pushSignedTag = group user/Kailash Yadav (yadavjpr)
